@model MajorPrjt.Web.Models.Reply

@{
    ViewData["Title"] = "Edit Reply Details";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReplyId" />
            <div class="form-group">
                <label asp-for="CommentId" class="control-label"></label>
                <select asp-for="CommentId" class="form-control" asp-items="ViewBag.CommentId"></select>
                <span asp-validation-for="CommentId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ReplyDescription" class="control-label"></label>
                <input asp-for="ReplyDescription" class="form-control" />
                <span asp-validation-for="ReplyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyDateTime" class="control-label"></label>
                <input asp-for="ReplyDateTime" class="form-control" />
                <span asp-validation-for="ReplyDateTime" class="text-danger"></span>
            </div>
            
            
            <div class="form-group ">
                <input type="submit" value="Save" class="btn btn-success" /> |
                <b><a style="color:white;" asp-action="Index" class="btn btn-primary" >View all Replies</a></b>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
