<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! </h1>
  <h1 >Replied Successfully!!! </h1>
  <p class="lead"><strong>Proceed Further</strong> and see your reply by clicking below...</p>
  <hr>
 
  <p class="lead">
      <b><a  asp-area="user" asp-controller="Forum" asp-action="Index" class="btn btn-primary" >View Your Reply</a></b>  </p>
 <p>
    Want to see Later? <a href="https://localhost:44340/">Explore More</a>
  </p>

</div>