@model MajorPrjt.Web.Models.Comment

@{
    ViewData["Title"] = "Edit Comment Details";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2>
<hr />
<div class="row text-light justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommentId" />
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDescription" class="control-label"></label>
                <input asp-for="CommentDescription" class="form-control" />
                <span asp-validation-for="CommentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDateTime" class="control-label"></label>
                <input asp-for="CommentDateTime" class="form-control" />
                <span asp-validation-for="CommentDateTime" class="text-danger"></span>
            </div>
            
           
            <div class="form-group ">
                <input type="submit" value="Save" class="btn btn-success" /> |
                <b><a style="color:white;" asp-action="Index" class="btn btn-primary" >View all Comments</a></b>
            </div>
        </form>
    </div>
</div>

</center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
