<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! </h1>
  <h1 >Comment Added Successfully!!! </h1>
  <p class="lead"><strong>Proceed Further</strong> and see your comment or reply by clicking below...</p>
  <hr>
 
  <p class="lead">
      <b><a  asp-area="DForum" asp-controller="Replies" asp-action="Create" class="btn btn-primary" >Add a reply</a></b>
 <p>
    Want to see Later? <a href="https://localhost:44340/">Explore More</a>
  </p>
  </p>
</div>
