@using MajorPrjt.Web.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@

<ul  class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li  class="nav-item text-light">
        <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li  class="nav-item btn">
        <form style="background-color:#001440;" id="logoutForm" class="form-inline btn " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn  btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li  style="background-color:#001440;" class="nav-item btn mr-2 ">
        <a  class="nav-link text-light " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li  style="background-color:#001440;" class="nav-item btn ">
        <a  class="nav-link text-light " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
