@model MajorPrjt.Web.Models.Category

@{
    ViewData["Title"] = "Are you sure you want to delete this?";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2>
<hr />


<div>
    <dl class="row text-light border">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-6 text-success font-weight-bold">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <b><a style="color:white;" asp-action="Index" class="btn btn-primary" >Back To Categories</a></b>
    </form>
</div></center>
