@model MajorPrjt.Web.Models.Category

@{
    ViewData["Title"] = "View Complete Details";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2>
<hr />

<div>
    <dl class="row text-light border">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-6 text-success font-weight-bold">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>


<div class="text-center"> 
    <b><a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning" >Edit Details</a></b>|
    <b><a style="color:white;" asp-action="Index" class="btn btn-danger" >View All Categories</a></b>
</div></center>
