<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! </h1>
  <h1 >Your just a Category of Your Choice </h1>
  <p class="lead"><strong>Proceed Further</strong> and post your question by clicking below...</p>
  <hr>
 
  <p class="lead">
      <b><a  asp-area="DForum" asp-controller="Topics" asp-action="Create" class="btn btn-primary" >Ask a Question</a></b> </p>
 <p>
    Want to post Later? <a href="https://localhost:44340/">Explore More</a>
  </p>
 
</div>
