@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<center><h1 class="text-light">@ViewData["Title"]</h1>


<p class="text-light"><i>Updated: 24 August, 2022</i></p></center>
<h5 class="text-light">ABOUT US</h5>

<p class="text-light">The Dig In Discussion's (also referred to herein as “Network”) is a set of related Internet sites and other applications for asynchronous collaboration and sharing knowledge, owned and operated by Founder's at Dig In Discussion's, Inc. ( “we” or “us”), a Unified corporation.
 We welcomes you to the Network, the largest community of people in all the sectors and technologists in the world, and invites you to participate in the community by sharing knowledge with your peers and colleagues.</p><br /><br />

<h5 class="text-light">GENERAL PRIVACY NOTICE FOR STACK EXCHANGE, INC.</h5>

<p class="text-light">This Privacy Notice is applicable to you, including when you participate in our Public Community Platform for Questions and Answers by interacting with us through Dig In Discussion's Public Network (“Public Network”), or when you otherwise interact with us, e.g., when you purchase or use our Advertising or Teams or Collectives or other products (“Products”) or when you contact our Customer Service, Sales or other teams for assistance or inquiries (“Services”).<br /><br />

The Public Network allows individual users to engage in a community to share their knowledge and expertise, and to acquire knowledge and expertise. It is community-moderated, and the content in the Public Network is public and therefore visible for anyone to see and is subject to our Public Network Terms of Use.

Below you will find details about the personal information we collect about you when you use the Public Network or our Products and Services and interact with us; how and why we collect it, how we use it, and how we keep it secure.

This Privacy Notice also tells you about your rights, how you can exercise those rights, and how the law protects you.<br /><br />

Dig In Discussion's, Inc. is the Controller responsible for your personal data collected on the Public Network or directly by us for Stack’s operational purposes. In connection with certain Products and Services, Discussion's is the Processor for the organizations who provide your data to us or use our Products and Services.

If you interact with Dig In Discussion's through your organization, please refer to the specific privacy notices applicable to those Products.

If you have any questions about this Privacy Notice or the way in which we use your personal data, please contact us at <strong><i>privacy@DigInDiscussions.com</i></strong></p><br /><br />

<h5 class="text-light">WHAT INFORMATION DO WE COLLECT?</h5>

<p class="text-light">This section sets out the categories and details of personal information that we collect across our Products and Services.

We collect and process your personal information in order to offer the Network, and to offer you our Products and Services.<br /><br />

If you decline to provide us with personal information when we ask you, you may not be able to access all or some of our services, and you may not be able to use the Network or certain Products and Services. For example, if you do not provide us with your email address or other information required for account registration, we will not be able to register you for certain account services.</p>