@model MajorPrjt.Web.Models.Topic
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Post New Question";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2></center>
<hr />
<div class="row justify-content-center text-light">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAnswered" /> @Html.DisplayNameFor(model => model.IsAnswered)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="PostDateTime" class="control-label"></label>
                <input asp-for="PostDateTime" class="form-control" />
                <span asp-validation-for="PostDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                @Html.Hidden("CreatedBy", User.Identity.Name)
            }
            else
            {
                @Html.Hidden("CreatedBy", "CreatedBy")
            }
            
            <div class="form-group text-center">
                @if (User.IsInRole("AppAdmin"))
                {
                    <input type="submit" value="Submit" class="btn btn-primary" />
                }
                else
                {
                      <input type="submit" value="Submit" style="color:white;"  class="btn btn-danger"/>  

                }
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
