<div class="jumbotron text-center">
  <h1 class="display-3">Thank You! </h1>
  <h1 >Question Posted Successfully </h1>
  <p class="lead"><strong>Proceed Further</strong> and see your post by clicking below...</p>
  <hr>
 
  <p class="lead">
      <b><a  asp-area="DForum" asp-controller="Comments" asp-action="Create" class="btn btn-primary" >Check Comments</a></b>
 <p>
    Want to post Later? <a href="https://localhost:44340/">Explore More</a>
  </p>
  </p>
</div>
